<!DOCTYPE html>
<html lang="en">
<head>

<script src="./lib/dropzone/dropzone.js"></script> 
<link rel ="stylesheet" type="text/css" href="./lib/dropzone/dropzone.css">
	<meta charset="UTF-8">
		<title>Home</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
