<!DOCTYPE html>
<html lang="en">
<head>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="./lib/dropzone/dropzone.js"></script>
<script src="./js/coverrr.js"></script>  
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel ="stylesheet" type="text/css" href="./assets/css/coverrr.css">
<link rel ="stylesheet" type="text/css" href="./lib/dropzone/dropzone.css">
    <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
    <div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
        {{{ body }}}
    </body>
</html>