<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body {
			padding-top: 80px;
			word-wrap: break-word;
		}
	</style>
</head>

<body>

	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa"></span><h1>My Bucket List</h1></h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">
			<form class="" action="/bucketlist" method="POST">
				<div class="col-xs-9">
					<textarea class="form-control" rows="2" id="bucket-item" name="title" placeholder="Enter Bucket Item Here!"></textarea>
				</div>

				<div class="col-xs-3 button">
					<button type="submit" class="btn btn-lg">Add to Your List</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
	</div>
	</div>
	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>Bucketlist</h2>
				<hr>
				<ul>
					{{#each bucketitems}}
						{{# unless this.isAchieved}}
							<form method="get" action="/api/title/{{this.id}}">
								<li>
									<p><span class="label">Title :</span> {{this.title}}
										<button class="btn btn-default" type="submit">Mark Done</button>
									</p>

								</li>
							</form>

							{{/unless}}
					{{/each}}
				</ul>
			</div>
			<div id="bucketItem-area"></div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>
