<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body {
			padding-top: 80px;
			word-wrap: break-word;
		}
	</style>
</head>

<body>
	<nav class="navbar">
					<p>Peer Pressure<p>
					<a href="/logout" class="btn btn-default btn-sm menuTop">Logout</a>
	</nav>
	<div class="container">
		<div class="page-header text-center">


		</div>
		<div class="col-md-2 col-sm-2">
			<a class="btn btn-default" href="/bucketlist">My Bucket List</a>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="well">
					<h1>My Acheivements!</h1>
					<ul>
						{{#each bucketitems}}
							{{# if this.isAchieved}}
								<li>
									<p><span class="label"></span> {{this.id}}.</p>
									<p><span class="label">Title :</span> {{this.title}}</p>
									<p><span class="label"></span></p>
									<img src= {{this.image}} alt="" height="300px" width="300px">
									<p><span class="label">Post :</span> {{this.blogText}}</p>
								</li>
								{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
