<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel ="stylesheet" type="text/css" href="/lib/dropzone/dropzone.css">
	<link rel="stylesheet" href="assets/css/navbar.css" type="text/css">
	<style>
		body 		{ padding-top:20px; word-wrap:break-word; }
	</style>
</head>
<body class="background">
	<nav class="navbar">
					<p>Bucketlist<p>
					<a href="/about" class="btn btn-default btn-sm menuTop">About</a>
				  <a href="/contact" class="btn btn-default btn-sm menuTop">Contact</a>
					<a href="/logout" class="btn btn-default btn-sm menuTop">Logout</a>
					<a class="btn btn-default btn-sm menuTop" href="/bucketlist">My Bucket List</a>
	</nav>
<div class="container">

	<div class="header1">
		<h1 class="header1">Sweet Victory</h1>
	</div>
</div>
      <div class="container">
        <div class="row">
        			<div class="col-md-6 col-md-offset-3">
                <ul>
                 <li>
                   <div class="form-group">
        						<label for="title">Title:</label>{{titletoChange.title}}
        						<br />
        						<label for="uploadImage">Upload some photos:</label>
                    <form action="/upload"
                          class="dropzone"
                          id="my-awesome-dropzone" method="post" enctype="multipart/form-data" >
                        </form>

        						<div class="form-group">
        							<label for="blogText">Share your experience :</label>
                      <textarea name=" = "blogText" "placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
          						</div>
        						<br />
        						<button type="submit" class="btn btn-success submit">Submit</button>
        					</div>

                </li>
             </ul>
        			</div>
        		</div>

 </div>
		</div>

   <script src="/lib/dropzone/dropzone.js"></script>

</body>
</html>
