@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

#centerID {
    text-align: center;
    font: 100%/1 'Lobster', cursive;
    font-size: 3.5em;
}

nav {
  font: 100%/1 'Lobster', cursive;
  font-size: 4em;
}

.menuTop {
  font: 100%/1 'Raleway:500', cursive;
  float: right;
}

.header1 {
  font: 100%/1 'Lobster', cursive;
  font-size: 2.5em;
  text-align: center;
}

.textInsert {
  font: 100%/1 'Raleway:500', cursive;
}
.background {
    background-image: url("../bubblebackground.jpg");
}

.adjust {
  float: left;
}
ul {
  list-style-type: none;
}

.bucketItem {
  font: 100%/1 'Raleway:500', cursive;
  font-size: 1.8em;
}
